@import './shared.scss';
@import './variables.scss';
@import './mixins.scss';
@import '../fonts/ProximaNova/font.scss';

* {
  font-family: 'Proxima Nova';
  box-sizing: border-box;
}

.container {
  width: min(1180px, 100vw);
  margin: 0 auto;
}
