.container {
  width: min(1180px, 100vw);
  margin: 0 auto;
}

.detailedContainer{
  padding: 32px;
  &:not(:last-child){
    border-bottom: 1px solid $disabled-opacity;
  }
}

.clickableItem{
  cursor: pointer;
  transition: $transitionDefaultTime;
  &:hover {
    scale: 1.1;
  }
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.opacityText{
  opacity: 0.6;
}